html,body {
    background: url("../images/body-bg.png");
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #666; 
    height: 100%;  
}
.container-fluid{
  margin: auto;
  padding: 0; 
  min-height:100%;
  position:relative;  
}
.header{
    -moz-box-shadow:    -3px 3px 5px 2px #bbb;
    -webkit-box-shadow: -3px 3px 5px 0px #bbb;
    box-shadow:         -3px 3px 5px 2px #bbb;
    padding: 5px;
    height: 30px;
    background:#ffab62;
    position: fixed; 
    opacity:.8;
   
}
.main-content{
  overflow-y: scroll;
  padding-top: 40px;
  padding-left: 5px;
  padding-right: 2px;
}
.eh{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    box-shadow: 0 1px 3px #ccc;
    color: #7759a3;
    font-size: 18px;
    padding: 5px;
    
}
.summary{
    color: #7759a3;
    font-size: 16px;
    border-bottom: 2px solid black;
}
.login_content {
    background: #fff none repeat scroll 0 0;
    border-radius: 20px;
    margin-top: 10px;
    text-shadow: 0 1px 0 #fff;
    border: 12px solid #98d4ee;
}
.login_content form {
    margin: 10px 0;
    position: relative;
}

.login_d {
    text-align: center; 
    padding-top: 5px;
}

.login_content form div a {
    font-size: 15px;
    margin: 10px 10px 0 0;
}
.login_content form input[type="text"], .login_content form input[type="email"], .login_content form input[type="password"] {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
    -moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
    -ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
    -o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
    box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border: 1px solid #c8c8c8;
    color: #777;
}
.shadows{
     box-shadow:0px 0px 5px #555;
	-moz-box-shadow:0px 0px 5px #555;
	-webkit-box-shadow:0px 0px 5px #555;
}
#accordion{
   height: auto;
   background-color: #659EC7;
   color: white;
   margin-top: 10px;
   padding: 7px;
}
#accordion a{
    color:black;
}
#accordion a:hover{
    color: #00FF00;
}
.accordion-content {
	font-size: 1em;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #0C090A;
    -webkit-box-shadow: 0 6px 6px -6px black;
     -moz-box-shadow: 0 6px 6px -6px black;
          box-shadow: 0 6px 6px -6px black;
}
/********contact form*******/
a:hover{
    text-decoration: none;
}
p a 
{
    text-decoration: underline;
    color: inherit;
}
textarea{
    resize: none;
}
ul li a:hover{
    color: #00FF00;
}
ul{
    list-style-type: none;
    margin:0 auto;
    padding:5px 0px;
    display:inline;
}
ul.navigation li{
    display:inline;
    padding-right: 10px;
    margin: auto;
}
ul.navigation li a{
    color: #4863A0;
    font-size: 1em;
}
ul.navigation li a:hover{
   text-decoration: none;
   color: black;
   font-size: 1.1em;
}
ul.navigation li a.active{
   color: black;
}
.error{
    color: red;
    padding:10px;
}
.success{
    color: 	#32CD32;
    padding:10px;
}
/********footer*********/
.footer{
    font-size: 1em;
    color: white;
    text-align: center;
    background:#ffab62;
    padding: 5px;
	height: 30px;
}
