RewriteEngine On
RewriteRule ^home index.php
RewriteRule ^dashboard dashboard.php
RewriteRule ^uploadcontent uploadcontent.php
RewriteRule ^bulk-sms bulk_sms.php
RewriteRule ^account account.php
RewriteRule ^scheduled scheduled.php
RewriteRule ^dashboard dashboard.php
RewriteRule ^customers customers.php
RewriteRule ^addcustomer newcustomer.php
RewriteRule ^delete delete.php
RewriteRule ^inbox inbox.php
RewriteRule ^billing billing.php
RewriteRule ^contacts contact.php
RewriteRule ^logout logout.php
RewriteRule ^mt mt.php
RewriteRule ^interaction interaction.php
RewriteRule ^sub-interaction sub-interaction.php
RewriteRule ^subscribers subscribers.php
RewriteRule ^dlr delivery.php
RewriteRule ^addcontact add_contacts.php
RewriteRule ^addcustomer add_customer.php
RewriteRule ^comments comments.php
RewriteRule ^manage manage.php
RewriteRule ^viewsubjects viewsubjects.php
RewriteRule ^forgot forgot.php
RewriteRule ^edit edit.php
RewriteRule ^restricted restricted.php
RewriteRule ^newuser newuser.php
RewriteRule ^class-interaction class-interaction.php
RewriteRule ^su-edit su-edit.php
RewriteRule ^responses responses.php
RewriteRule ^addsubscriber addsubscriber.php
ErrorDocument 404 /notfound.php